@model CRUD_1.Models.UpdateEmpleadoViewModel
@{
    ViewData["Title"] = "Detalle";
}

<h2>Editar Empleado</h2>
<form method="post" action="View" class="mt-5">
    @* Agregamos el id solo lectura*@
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" asp-for="Nombre">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Salario</label>
        <input type="number" class="form-control" asp-for="Salarry">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" asp-for="FechaNacimiento">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Departamento</label>
        <input type="text" class="form-control" asp-for="Departamento">
    </div>

    <button type="submit" class="btn btn-primary">Aceptar</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Empleados">Eliminar</button>
</form>
